###
# Add the collections and requirements for python that you need.
###

version: 3

images:
  base_image:
    name: quay.io/fedora/fedora:43

dependencies:
  ansible_core:
    package_pip: ansible-core==2.20.1
  ansible_runner:
    package_pip: ansible-runner==2.4.2
  
  system:
    - openssh-clients
    - sshpass
    - less
    - git
    - rsync
  
  galaxy: |
    collections:
       - name: amazon.aws
         version: ">=7.0.0"
       - name: ansible.posix
       - name: community.general
       - name: kubernetes.core
       - name: community.docker
  
  python: |
    boto3>=1.28.0
    botocore>=1.31.0
    jmespath
    netaddr
    paramiko>=2.11.0
    docker>=5.0.0

additional_build_steps:
  prepend_base:
    - RUN dnf install -y python3 python3-pip python3-devel gcc
  append_final:
    - RUN echo "EE built on $(date)" > /etc/ee-build-info